# Ignore environment configuration files
.env

env
# ignore data 
data

# Ignore testing notebook
test.ipynb

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment files (if using venv)
venv/
env/

# Ignore logs and temporary files
logs/
*.log
*.out
*.bak
.DS_Store  # macOS system file
Thumbs.db  # Windows system file

# Ignore Jupyter Notebook checkpoints (if using notebooks)
.ipynb_checkpoints/

# Ignore IDE/project-specific files
.vscode/
.idea/

src/llm_params.yaml

# for phi4 training and inference
# Need to download this manually if need to do other places 
notebook/phi4_sql_sft*
notebook/phi4_ollama_ready*
notebook/unsloth*

# for models
src/model/*

