# PostgreSQL adapter for Python
psycopg2==2.9.10

# Environment variable management
python-dotenv==1.0.0

# Data manipulation and processing
pandas==2.1.4

# install langchain_community
langchain-community==0.3.18

prefect==2.20.16

ollama == 0.4.7

tqdm == 4.66.1

